.zurb-foundation-grid {
  box-sizing: border-box;
  font-size: 100%; }

.zurb-foundation-grid *,
.zurb-foundation-grid *::before,
.zurb-foundation-grid *::after {
  box-sizing: inherit; }

.row {
  max-width: 75rem;
  margin-right: auto;
  margin-left: auto; }

.row::before,
.row::after {
  display: table;
  content: ' ';
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-order: 1;
  order: 1; }

.row::after {
  clear: both; }

.row.collapse > .column,
.row.collapse > .columns {
  padding-right: 0;
  padding-left: 0; }

.row .row {
  margin-right: -.5rem;
  margin-left: -.5rem; }

@media print, screen and (min-width: 40em) {
  .row .row {
    margin-right: -.5rem;
    margin-left: -.5rem; } }

@media print, screen and (min-width: 64em) {
  .row .row {
    margin-right: -.5rem;
    margin-left: -.5rem; } }

.row .row.collapse {
  margin-right: 0;
  margin-left: 0; }

.row.expanded {
  max-width: none; }

.row.expanded .row {
  margin-right: auto;
  margin-left: auto; }

.row:not(.expanded) .row {
  max-width: none; }

.column,
.columns {
  width: 100%;
  float: left;
  padding-right: .5rem;
  padding-left: .5rem; }

.column:last-child:not(:first-child),
.columns:last-child:not(:first-child) {
  float: right; }

.column.end:last-child:last-child,
.end.columns:last-child:last-child {
  float: left; }

.column.row.row,
.row.row.columns {
  float: none; }

.row .column.row.row,
.row .row.row.columns {
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0; }

.small-1 {
  width: 8.33333%; }

.small-push-1 {
  position: relative;
  left: 8.33333%; }

.small-pull-1 {
  position: relative;
  left: -8.33333%; }

.small-offset-0 {
  margin-left: 0; }

.small-2 {
  width: 16.66667%; }

.small-push-2 {
  position: relative;
  left: 16.66667%; }

.small-pull-2 {
  position: relative;
  left: -16.66667%; }

.small-offset-1 {
  margin-left: 8.33333%; }

.small-3 {
  width: 25%; }

.small-push-3 {
  position: relative;
  left: 25%; }

.small-pull-3 {
  position: relative;
  left: -25%; }

.small-offset-2 {
  margin-left: 16.66667%; }

.small-4 {
  width: 33.33333%; }

.small-push-4 {
  position: relative;
  left: 33.33333%; }

.small-pull-4 {
  position: relative;
  left: -33.33333%; }

.small-offset-3 {
  margin-left: 25%; }

.small-5 {
  width: 41.66667%; }

.small-push-5 {
  position: relative;
  left: 41.66667%; }

.small-pull-5 {
  position: relative;
  left: -41.66667%; }

.small-offset-4 {
  margin-left: 33.33333%; }

.small-6 {
  width: 50%; }

.small-push-6 {
  position: relative;
  left: 50%; }

.small-pull-6 {
  position: relative;
  left: -50%; }

.small-offset-5 {
  margin-left: 41.66667%; }

.small-7 {
  width: 58.33333%; }

.small-push-7 {
  position: relative;
  left: 58.33333%; }

.small-pull-7 {
  position: relative;
  left: -58.33333%; }

.small-offset-6 {
  margin-left: 50%; }

.small-8 {
  width: 66.66667%; }

.small-push-8 {
  position: relative;
  left: 66.66667%; }

.small-pull-8 {
  position: relative;
  left: -66.66667%; }

.small-offset-7 {
  margin-left: 58.33333%; }

.small-9 {
  width: 75%; }

.small-push-9 {
  position: relative;
  left: 75%; }

.small-pull-9 {
  position: relative;
  left: -75%; }

.small-offset-8 {
  margin-left: 66.66667%; }

.small-10 {
  width: 83.33333%; }

.small-push-10 {
  position: relative;
  left: 83.33333%; }

.small-pull-10 {
  position: relative;
  left: -83.33333%; }

.small-offset-9 {
  margin-left: 75%; }

.small-11 {
  width: 91.66667%; }

.small-push-11 {
  position: relative;
  left: 91.66667%; }

.small-pull-11 {
  position: relative;
  left: -91.66667%; }

.small-offset-10 {
  margin-left: 83.33333%; }

.small-12 {
  width: 100%; }

.small-offset-11 {
  margin-left: 91.66667%; }

.small-up-1 > .column,
.small-up-1 > .columns {
  float: left;
  width: 100%; }

.small-up-1 > .column:nth-of-type(1n),
.small-up-1 > .columns:nth-of-type(1n) {
  clear: none; }

.small-up-1 > .column:nth-of-type(1n+1),
.small-up-1 > .columns:nth-of-type(1n+1) {
  clear: both; }

.small-up-1 > .column:last-child,
.small-up-1 > .columns:last-child {
  float: left; }

.small-up-2 > .column,
.small-up-2 > .columns {
  float: left;
  width: 50%; }

.small-up-2 > .column:nth-of-type(1n),
.small-up-2 > .columns:nth-of-type(1n) {
  clear: none; }

.small-up-2 > .column:nth-of-type(2n+1),
.small-up-2 > .columns:nth-of-type(2n+1) {
  clear: both; }

.small-up-2 > .column:last-child,
.small-up-2 > .columns:last-child {
  float: left; }

.small-up-3 > .column,
.small-up-3 > .columns {
  float: left;
  width: 33.33333%; }

.small-up-3 > .column:nth-of-type(1n),
.small-up-3 > .columns:nth-of-type(1n) {
  clear: none; }

.small-up-3 > .column:nth-of-type(3n+1),
.small-up-3 > .columns:nth-of-type(3n+1) {
  clear: both; }

.small-up-3 > .column:last-child,
.small-up-3 > .columns:last-child {
  float: left; }

.small-up-4 > .column,
.small-up-4 > .columns {
  float: left;
  width: 25%; }

.small-up-4 > .column:nth-of-type(1n),
.small-up-4 > .columns:nth-of-type(1n) {
  clear: none; }

.small-up-4 > .column:nth-of-type(4n+1),
.small-up-4 > .columns:nth-of-type(4n+1) {
  clear: both; }

.small-up-4 > .column:last-child,
.small-up-4 > .columns:last-child {
  float: left; }

.small-up-5 > .column,
.small-up-5 > .columns {
  float: left;
  width: 20%; }

.small-up-5 > .column:nth-of-type(1n),
.small-up-5 > .columns:nth-of-type(1n) {
  clear: none; }

.small-up-5 > .column:nth-of-type(5n+1),
.small-up-5 > .columns:nth-of-type(5n+1) {
  clear: both; }

.small-up-5 > .column:last-child,
.small-up-5 > .columns:last-child {
  float: left; }

.small-up-6 > .column,
.small-up-6 > .columns {
  float: left;
  width: 16.66667%; }

.small-up-6 > .column:nth-of-type(1n),
.small-up-6 > .columns:nth-of-type(1n) {
  clear: none; }

.small-up-6 > .column:nth-of-type(6n+1),
.small-up-6 > .columns:nth-of-type(6n+1) {
  clear: both; }

.small-up-6 > .column:last-child,
.small-up-6 > .columns:last-child {
  float: left; }

.small-up-7 > .column,
.small-up-7 > .columns {
  float: left;
  width: 14.28571%; }

.small-up-7 > .column:nth-of-type(1n),
.small-up-7 > .columns:nth-of-type(1n) {
  clear: none; }

.small-up-7 > .column:nth-of-type(7n+1),
.small-up-7 > .columns:nth-of-type(7n+1) {
  clear: both; }

.small-up-7 > .column:last-child,
.small-up-7 > .columns:last-child {
  float: left; }

.small-up-8 > .column,
.small-up-8 > .columns {
  float: left;
  width: 12.5%; }

.small-up-8 > .column:nth-of-type(1n),
.small-up-8 > .columns:nth-of-type(1n) {
  clear: none; }

.small-up-8 > .column:nth-of-type(8n+1),
.small-up-8 > .columns:nth-of-type(8n+1) {
  clear: both; }

.small-up-8 > .column:last-child,
.small-up-8 > .columns:last-child {
  float: left; }

.small-collapse > .column,
.small-collapse > .columns {
  padding-right: 0;
  padding-left: 0; }

.small-collapse .row {
  margin-right: 0;
  margin-left: 0; }

.expanded.row .small-collapse.row {
  margin-right: 0;
  margin-left: 0; }

.small-uncollapse > .column,
.small-uncollapse > .columns {
  padding-right: .5rem;
  padding-left: .5rem; }

.small-centered {
  margin-right: auto;
  margin-left: auto; }

.small-centered,
.small-centered:last-child:not(:first-child) {
  float: none;
  clear: both; }

.small-uncentered,
.small-push-0,
.small-pull-0 {
  position: static;
  float: left;
  margin-right: 0;
  margin-left: 0; }

@media print, screen and (min-width: 40em) {
  .medium-1 {
    width: 8.33333%; }
  .medium-push-1 {
    position: relative;
    left: 8.33333%; }
  .medium-pull-1 {
    position: relative;
    left: -8.33333%; }
  .medium-offset-0 {
    margin-left: 0; }
  .medium-2 {
    width: 16.66667%; }
  .medium-push-2 {
    position: relative;
    left: 16.66667%; }
  .medium-pull-2 {
    position: relative;
    left: -16.66667%; }
  .medium-offset-1 {
    margin-left: 8.33333%; }
  .medium-3 {
    width: 25%; }
  .medium-push-3 {
    position: relative;
    left: 25%; }
  .medium-pull-3 {
    position: relative;
    left: -25%; }
  .medium-offset-2 {
    margin-left: 16.66667%; }
  .medium-4 {
    width: 33.33333%; }
  .medium-push-4 {
    position: relative;
    left: 33.33333%; }
  .medium-pull-4 {
    position: relative;
    left: -33.33333%; }
  .medium-offset-3 {
    margin-left: 25%; }
  .medium-5 {
    width: 41.66667%; }
  .medium-push-5 {
    position: relative;
    left: 41.66667%; }
  .medium-pull-5 {
    position: relative;
    left: -41.66667%; }
  .medium-offset-4 {
    margin-left: 33.33333%; }
  .medium-6 {
    width: 50%; }
  .medium-push-6 {
    position: relative;
    left: 50%; }
  .medium-pull-6 {
    position: relative;
    left: -50%; }
  .medium-offset-5 {
    margin-left: 41.66667%; }
  .medium-7 {
    width: 58.33333%; }
  .medium-push-7 {
    position: relative;
    left: 58.33333%; }
  .medium-pull-7 {
    position: relative;
    left: -58.33333%; }
  .medium-offset-6 {
    margin-left: 50%; }
  .medium-8 {
    width: 66.66667%; }
  .medium-push-8 {
    position: relative;
    left: 66.66667%; }
  .medium-pull-8 {
    position: relative;
    left: -66.66667%; }
  .medium-offset-7 {
    margin-left: 58.33333%; }
  .medium-9 {
    width: 75%; }
  .medium-push-9 {
    position: relative;
    left: 75%; }
  .medium-pull-9 {
    position: relative;
    left: -75%; }
  .medium-offset-8 {
    margin-left: 66.66667%; }
  .medium-10 {
    width: 83.33333%; }
  .medium-push-10 {
    position: relative;
    left: 83.33333%; }
  .medium-pull-10 {
    position: relative;
    left: -83.33333%; }
  .medium-offset-9 {
    margin-left: 75%; }
  .medium-11 {
    width: 91.66667%; }
  .medium-push-11 {
    position: relative;
    left: 91.66667%; }
  .medium-pull-11 {
    position: relative;
    left: -91.66667%; }
  .medium-offset-10 {
    margin-left: 83.33333%; }
  .medium-12 {
    width: 100%; }
  .medium-offset-11 {
    margin-left: 91.66667%; }
  .medium-up-1 > .column,
  .medium-up-1 > .columns {
    float: left;
    width: 100%; }
  .medium-up-1 > .column:nth-of-type(1n),
  .medium-up-1 > .columns:nth-of-type(1n) {
    clear: none; }
  .medium-up-1 > .column:nth-of-type(1n+1),
  .medium-up-1 > .columns:nth-of-type(1n+1) {
    clear: both; }
  .medium-up-1 > .column:last-child,
  .medium-up-1 > .columns:last-child {
    float: left; }
  .medium-up-2 > .column,
  .medium-up-2 > .columns {
    float: left;
    width: 50%; }
  .medium-up-2 > .column:nth-of-type(1n),
  .medium-up-2 > .columns:nth-of-type(1n) {
    clear: none; }
  .medium-up-2 > .column:nth-of-type(2n+1),
  .medium-up-2 > .columns:nth-of-type(2n+1) {
    clear: both; }
  .medium-up-2 > .column:last-child,
  .medium-up-2 > .columns:last-child {
    float: left; }
  .medium-up-3 > .column,
  .medium-up-3 > .columns {
    float: left;
    width: 33.33333%; }
  .medium-up-3 > .column:nth-of-type(1n),
  .medium-up-3 > .columns:nth-of-type(1n) {
    clear: none; }
  .medium-up-3 > .column:nth-of-type(3n+1),
  .medium-up-3 > .columns:nth-of-type(3n+1) {
    clear: both; }
  .medium-up-3 > .column:last-child,
  .medium-up-3 > .columns:last-child {
    float: left; }
  .medium-up-4 > .column,
  .medium-up-4 > .columns {
    float: left;
    width: 25%; }
  .medium-up-4 > .column:nth-of-type(1n),
  .medium-up-4 > .columns:nth-of-type(1n) {
    clear: none; }
  .medium-up-4 > .column:nth-of-type(4n+1),
  .medium-up-4 > .columns:nth-of-type(4n+1) {
    clear: both; }
  .medium-up-4 > .column:last-child,
  .medium-up-4 > .columns:last-child {
    float: left; }
  .medium-up-5 > .column,
  .medium-up-5 > .columns {
    float: left;
    width: 20%; }
  .medium-up-5 > .column:nth-of-type(1n),
  .medium-up-5 > .columns:nth-of-type(1n) {
    clear: none; }
  .medium-up-5 > .column:nth-of-type(5n+1),
  .medium-up-5 > .columns:nth-of-type(5n+1) {
    clear: both; }
  .medium-up-5 > .column:last-child,
  .medium-up-5 > .columns:last-child {
    float: left; }
  .medium-up-6 > .column,
  .medium-up-6 > .columns {
    float: left;
    width: 16.66667%; }
  .medium-up-6 > .column:nth-of-type(1n),
  .medium-up-6 > .columns:nth-of-type(1n) {
    clear: none; }
  .medium-up-6 > .column:nth-of-type(6n+1),
  .medium-up-6 > .columns:nth-of-type(6n+1) {
    clear: both; }
  .medium-up-6 > .column:last-child,
  .medium-up-6 > .columns:last-child {
    float: left; }
  .medium-up-7 > .column,
  .medium-up-7 > .columns {
    float: left;
    width: 14.28571%; }
  .medium-up-7 > .column:nth-of-type(1n),
  .medium-up-7 > .columns:nth-of-type(1n) {
    clear: none; }
  .medium-up-7 > .column:nth-of-type(7n+1),
  .medium-up-7 > .columns:nth-of-type(7n+1) {
    clear: both; }
  .medium-up-7 > .column:last-child,
  .medium-up-7 > .columns:last-child {
    float: left; }
  .medium-up-8 > .column,
  .medium-up-8 > .columns {
    float: left;
    width: 12.5%; }
  .medium-up-8 > .column:nth-of-type(1n),
  .medium-up-8 > .columns:nth-of-type(1n) {
    clear: none; }
  .medium-up-8 > .column:nth-of-type(8n+1),
  .medium-up-8 > .columns:nth-of-type(8n+1) {
    clear: both; }
  .medium-up-8 > .column:last-child,
  .medium-up-8 > .columns:last-child {
    float: left; }
  .medium-collapse > .column,
  .medium-collapse > .columns {
    padding-right: 0;
    padding-left: 0; }
  .medium-collapse .row {
    margin-right: 0;
    margin-left: 0; }
  .expanded.row .medium-collapse.row {
    margin-right: 0;
    margin-left: 0; }
  .medium-uncollapse > .column,
  .medium-uncollapse > .columns {
    padding-right: .5rem;
    padding-left: .5rem; }
  .medium-centered {
    margin-right: auto;
    margin-left: auto; }
  .medium-centered,
  .medium-centered:last-child:not(:first-child) {
    float: none;
    clear: both; }
  .medium-uncentered,
  .medium-push-0,
  .medium-pull-0 {
    position: static;
    float: left;
    margin-right: 0;
    margin-left: 0; } }

@media print, screen and (min-width: 64em) {
  .large-1 {
    width: 8.33333%; }
  .large-push-1 {
    position: relative;
    left: 8.33333%; }
  .large-pull-1 {
    position: relative;
    left: -8.33333%; }
  .large-offset-0 {
    margin-left: 0; }
  .large-2 {
    width: 16.66667%; }
  .large-push-2 {
    position: relative;
    left: 16.66667%; }
  .large-pull-2 {
    position: relative;
    left: -16.66667%; }
  .large-offset-1 {
    margin-left: 8.33333%; }
  .large-3 {
    width: 25%; }
  .large-push-3 {
    position: relative;
    left: 25%; }
  .large-pull-3 {
    position: relative;
    left: -25%; }
  .large-offset-2 {
    margin-left: 16.66667%; }
  .large-4 {
    width: 33.33333%; }
  .large-push-4 {
    position: relative;
    left: 33.33333%; }
  .large-pull-4 {
    position: relative;
    left: -33.33333%; }
  .large-offset-3 {
    margin-left: 25%; }
  .large-5 {
    width: 41.66667%; }
  .large-push-5 {
    position: relative;
    left: 41.66667%; }
  .large-pull-5 {
    position: relative;
    left: -41.66667%; }
  .large-offset-4 {
    margin-left: 33.33333%; }
  .large-6 {
    width: 50%; }
  .large-push-6 {
    position: relative;
    left: 50%; }
  .large-pull-6 {
    position: relative;
    left: -50%; }
  .large-offset-5 {
    margin-left: 41.66667%; }
  .large-7 {
    width: 58.33333%; }
  .large-push-7 {
    position: relative;
    left: 58.33333%; }
  .large-pull-7 {
    position: relative;
    left: -58.33333%; }
  .large-offset-6 {
    margin-left: 50%; }
  .large-8 {
    width: 66.66667%; }
  .large-push-8 {
    position: relative;
    left: 66.66667%; }
  .large-pull-8 {
    position: relative;
    left: -66.66667%; }
  .large-offset-7 {
    margin-left: 58.33333%; }
  .large-9 {
    width: 75%; }
  .large-push-9 {
    position: relative;
    left: 75%; }
  .large-pull-9 {
    position: relative;
    left: -75%; }
  .large-offset-8 {
    margin-left: 66.66667%; }
  .large-10 {
    width: 83.33333%; }
  .large-push-10 {
    position: relative;
    left: 83.33333%; }
  .large-pull-10 {
    position: relative;
    left: -83.33333%; }
  .large-offset-9 {
    margin-left: 75%; }
  .large-11 {
    width: 91.66667%; }
  .large-push-11 {
    position: relative;
    left: 91.66667%; }
  .large-pull-11 {
    position: relative;
    left: -91.66667%; }
  .large-offset-10 {
    margin-left: 83.33333%; }
  .large-12 {
    width: 100%; }
  .large-offset-11 {
    margin-left: 91.66667%; }
  .large-up-1 > .column,
  .large-up-1 > .columns {
    float: left;
    width: 100%; }
  .large-up-1 > .column:nth-of-type(1n),
  .large-up-1 > .columns:nth-of-type(1n) {
    clear: none; }
  .large-up-1 > .column:nth-of-type(1n+1),
  .large-up-1 > .columns:nth-of-type(1n+1) {
    clear: both; }
  .large-up-1 > .column:last-child,
  .large-up-1 > .columns:last-child {
    float: left; }
  .large-up-2 > .column,
  .large-up-2 > .columns {
    float: left;
    width: 50%; }
  .large-up-2 > .column:nth-of-type(1n),
  .large-up-2 > .columns:nth-of-type(1n) {
    clear: none; }
  .large-up-2 > .column:nth-of-type(2n+1),
  .large-up-2 > .columns:nth-of-type(2n+1) {
    clear: both; }
  .large-up-2 > .column:last-child,
  .large-up-2 > .columns:last-child {
    float: left; }
  .large-up-3 > .column,
  .large-up-3 > .columns {
    float: left;
    width: 33.33333%; }
  .large-up-3 > .column:nth-of-type(1n),
  .large-up-3 > .columns:nth-of-type(1n) {
    clear: none; }
  .large-up-3 > .column:nth-of-type(3n+1),
  .large-up-3 > .columns:nth-of-type(3n+1) {
    clear: both; }
  .large-up-3 > .column:last-child,
  .large-up-3 > .columns:last-child {
    float: left; }
  .large-up-4 > .column,
  .large-up-4 > .columns {
    float: left;
    width: 25%; }
  .large-up-4 > .column:nth-of-type(1n),
  .large-up-4 > .columns:nth-of-type(1n) {
    clear: none; }
  .large-up-4 > .column:nth-of-type(4n+1),
  .large-up-4 > .columns:nth-of-type(4n+1) {
    clear: both; }
  .large-up-4 > .column:last-child,
  .large-up-4 > .columns:last-child {
    float: left; }
  .large-up-5 > .column,
  .large-up-5 > .columns {
    float: left;
    width: 20%; }
  .large-up-5 > .column:nth-of-type(1n),
  .large-up-5 > .columns:nth-of-type(1n) {
    clear: none; }
  .large-up-5 > .column:nth-of-type(5n+1),
  .large-up-5 > .columns:nth-of-type(5n+1) {
    clear: both; }
  .large-up-5 > .column:last-child,
  .large-up-5 > .columns:last-child {
    float: left; }
  .large-up-6 > .column,
  .large-up-6 > .columns {
    float: left;
    width: 16.66667%; }
  .large-up-6 > .column:nth-of-type(1n),
  .large-up-6 > .columns:nth-of-type(1n) {
    clear: none; }
  .large-up-6 > .column:nth-of-type(6n+1),
  .large-up-6 > .columns:nth-of-type(6n+1) {
    clear: both; }
  .large-up-6 > .column:last-child,
  .large-up-6 > .columns:last-child {
    float: left; }
  .large-up-7 > .column,
  .large-up-7 > .columns {
    float: left;
    width: 14.28571%; }
  .large-up-7 > .column:nth-of-type(1n),
  .large-up-7 > .columns:nth-of-type(1n) {
    clear: none; }
  .large-up-7 > .column:nth-of-type(7n+1),
  .large-up-7 > .columns:nth-of-type(7n+1) {
    clear: both; }
  .large-up-7 > .column:last-child,
  .large-up-7 > .columns:last-child {
    float: left; }
  .large-up-8 > .column,
  .large-up-8 > .columns {
    float: left;
    width: 12.5%; }
  .large-up-8 > .column:nth-of-type(1n),
  .large-up-8 > .columns:nth-of-type(1n) {
    clear: none; }
  .large-up-8 > .column:nth-of-type(8n+1),
  .large-up-8 > .columns:nth-of-type(8n+1) {
    clear: both; }
  .large-up-8 > .column:last-child,
  .large-up-8 > .columns:last-child {
    float: left; }
  .large-collapse > .column,
  .large-collapse > .columns {
    padding-right: 0;
    padding-left: 0; }
  .large-collapse .row {
    margin-right: 0;
    margin-left: 0; }
  .expanded.row .large-collapse.row {
    margin-right: 0;
    margin-left: 0; }
  .large-uncollapse > .column,
  .large-uncollapse > .columns {
    padding-right: .5rem;
    padding-left: .5rem; }
  .large-centered {
    margin-right: auto;
    margin-left: auto; }
  .large-centered,
  .large-centered:last-child:not(:first-child) {
    float: none;
    clear: both; }
  .large-uncentered,
  .large-push-0,
  .large-pull-0 {
    position: static;
    float: left;
    margin-right: 0;
    margin-left: 0; } }

.column-block {
  margin-bottom: 1.875rem; }

.column-block > :last-child {
  margin-bottom: 0; }

img.responsive-img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
  border-style: none; }

table.borderless td {
  border: 0; }

table.plain, table.shop-for-plants,
table.shop-for-pots {
  border: 0;
  padding: 0;
  margin: 0; }
  table.plain td, table.shop-for-plants td,
  table.shop-for-pots td {
    border: 0;
    margin: 0;
    padding: 0; }

.button, .small.button {
  padding: 5px 10px !important;
  text-decoration: none !important;
  text-transform: uppercase !important;
  background: #569300;
  border-radius: 5px !important;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  letter-spacing: 1px;
  color: #fff;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: 2px solid #569300; }
  .button:hover {
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.3);
    color: #000 !important; }

.small.button {
  font-size: 14px; }

.Submit input,
.ProductList li .ProductActionAdd a,
.QuickViewBtn,
#bottom_payment_button,
.ExpressCheckoutContent input[type='submit'],
.btn,
.btn-secondary {
  background: #569300 !important;
  color: #fff !important; }
  .Submit input:hover,
  .ProductList li .ProductActionAdd a:hover,
  .QuickViewBtn:hover,
  #bottom_payment_button:hover,
  .ExpressCheckoutContent input[type='submit']:hover,
  .btn:hover,
  .btn-secondary:hover {
    background: #d4d4d4 !important;
    color: #000 !important; }

a.CartRemoveLink {
  color: #569300; }
  a.CartRemoveLink:hover {
    color: red; }

a.CustomizeItemLink,
.KeepShopping a {
  color: #569300; }
  a.CustomizeItemLink:hover,
  .KeepShopping a:hover {
    color: #6e6e6e; }

.CartContents .ProductName a {
  font-weight: bold;
  color: #569300; }
  .CartContents .ProductName a:hover {
    color: #6e6e6e; }

.shadow-1 {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37); }

.shadow-2 {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.3); }

.shadow-3 {
  box-shadow: 0 11px 7px 0 rgba(0, 0, 0, 0.19), 0 13px 25px 0 rgba(0, 0, 0, 0.3); }

.shadow-4 {
  box-shadow: 0 14px 12px 0 rgba(0, 0, 0, 0.17), 0 20px 40px 0 rgba(0, 0, 0, 0.3); }

.shadow-5 {
  box-shadow: 0 17px 17px 0 rgba(0, 0, 0, 0.15), 0 27px 55px 0 rgba(0, 0, 0, 0.3); }

.m-0 {
  margin: 0; }

.m-4 {
  margin: 4px; }

.m-8 {
  margin: 8px; }

.m-12 {
  margin: 12px; }

.m-16 {
  margin: 16px; }

.m-20 {
  margin: 20px; }

.m-24 {
  margin: 24px; }

.m-32 {
  margin: 32px; }

.m-40 {
  margin: 40px; }

.mt-0 {
  margin-top: 0; }

.mt-4 {
  margin-top: 4px; }

.mt-8 {
  margin-top: 8px; }

.mt-12 {
  margin-top: 12px; }

.mt-16 {
  margin-top: 16px; }

.mt-20 {
  margin-top: 20px; }

.mt-24 {
  margin-top: 24px; }

.mt-32 {
  margin-top: 32px; }

.mt-40 {
  margin-top: 40px; }

.mb-0 {
  margin-bottom: 0; }

.mb-4 {
  margin-bottom: 4px; }

.mb-8 {
  margin-bottom: 8px; }

.mb-12 {
  margin-bottom: 12px; }

.mb-16 {
  margin-bottom: 16px; }

.mb-20 {
  margin-bottom: 20px; }

.mb-24 {
  margin-bottom: 24px; }

.mb-32 {
  margin-bottom: 32px; }

.mb-40 {
  margin-bottom: 40px; }

.mr-0 {
  margin-right: 0; }

.mr-4 {
  margin-right: 4px; }

.mr-8 {
  margin-right: 8px; }

.mr-12 {
  margin-right: 12px; }

.mr-16 {
  margin-right: 16px; }

.mr-20 {
  margin-right: 20px; }

.mr-24 {
  margin-right: 24px; }

.mr-32 {
  margin-right: 32px; }

.mr-40 {
  margin-right: 40px; }

.ml-0 {
  margin-left: 0; }

.ml-4 {
  margin-left: 4px; }

.ml-8 {
  margin-left: 8px; }

.ml-12 {
  margin-left: 12px; }

.ml-16 {
  margin-left: 16px; }

.ml-20 {
  margin-left: 20px; }

.ml-24 {
  margin-left: 24px; }

.ml-32 {
  margin-left: 32px; }

.ml-40 {
  margin-left: 40px; }

.mx-0 {
  margin-left: 0;
  margin-right: 0; }

.mx-4 {
  margin-left: 4px;
  margin-right: 4px; }

.mx-8 {
  margin-left: 8px;
  margin-right: 8px; }

.mx-12 {
  margin-left: 12px;
  margin-right: 12px; }

.mx-16 {
  margin-left: 16px;
  margin-right: 16px; }

.mx-20 {
  margin-left: 20px;
  margin-right: 20px; }

.mx-24 {
  margin-left: 24px;
  margin-right: 24px; }

.mx-32 {
  margin-left: 32px;
  margin-right: 32px; }

.mx-40 {
  margin-left: 40px;
  margin-right: 40px; }

.my-0 {
  margin-top: 0;
  margin-bottom: 0; }

.my-4 {
  margin-top: 4px;
  margin-bottom: 4px; }

.my-8 {
  margin-top: 8px;
  margin-bottom: 8px; }

.my-12 {
  margin-top: 12px;
  margin-bottom: 12px; }

.my-16 {
  margin-top: 16px;
  margin-bottom: 16px; }

.my-20 {
  margin-top: 20px;
  margin-bottom: 20px; }

.my-24 {
  margin-top: 24px;
  margin-bottom: 24px; }

.my-32 {
  margin-top: 32px;
  margin-bottom: 32px; }

.my-40 {
  margin-top: 40px;
  margin-bottom: 40px; }

.p-0 {
  padding: 0; }

.p-4 {
  padding: 4px; }

.p-8 {
  padding: 8px; }

.p-12 {
  padding: 12px; }

.p-16 {
  padding: 16px; }

.p-20 {
  padding: 20px; }

.p-24 {
  padding: 24px; }

.p-32 {
  padding: 32px; }

.p-40 {
  padding: 40px; }

.pt-0 {
  padding-top: 0; }

.pt-4 {
  padding-top: 4px; }

.pt-8 {
  padding-top: 8px; }

.pt-12 {
  padding-top: 12px; }

.pt-16 {
  padding-top: 16px; }

.pt-20 {
  padding-top: 20px; }

.pt-24 {
  padding-top: 24px; }

.pt-32 {
  padding-top: 32px; }

.pt-40 {
  padding-top: 40px; }

.pb-0 {
  padding-bottom: 0; }

.pb-4 {
  padding-bottom: 4px; }

.pb-8 {
  padding-bottom: 8px; }

.pb-12 {
  padding-bottom: 12px; }

.pb-16 {
  padding-bottom: 16px; }

.pb-20 {
  padding-bottom: 20px; }

.pb-24 {
  padding-bottom: 24px; }

.pb-32 {
  padding-bottom: 32px; }

.pb-40 {
  padding-bottom: 40px; }

.pr-0 {
  padding-right: 0; }

.pr-4 {
  padding-right: 4px; }

.pr-8 {
  padding-right: 8px; }

.pr-12 {
  padding-right: 12px; }

.pr-16 {
  padding-right: 16px; }

.pr-20 {
  padding-right: 20px; }

.pr-24 {
  padding-right: 24px; }

.pr-32 {
  padding-right: 32px; }

.pr-40 {
  padding-right: 40px; }

.pl-0 {
  padding-left: 0; }

.pl-4 {
  padding-left: 4px; }

.pl-8 {
  padding-left: 8px; }

.pl-12 {
  padding-left: 12px; }

.pl-16 {
  padding-left: 16px; }

.pl-20 {
  padding-left: 20px; }

.pl-24 {
  padding-left: 24px; }

.pl-32 {
  padding-left: 32px; }

.pl-40 {
  padding-left: 40px; }

.px-0 {
  padding-left: 0;
  padding-right: 0; }

.px-4 {
  padding-left: 4px;
  padding-right: 4px; }

.px-8 {
  padding-left: 8px;
  padding-right: 8px; }

.px-12 {
  padding-left: 12px;
  padding-right: 12px; }

.px-16 {
  padding-left: 16px;
  padding-right: 16px; }

.px-20 {
  padding-left: 20px;
  padding-right: 20px; }

.px-24 {
  padding-left: 24px;
  padding-right: 24px; }

.px-32 {
  padding-left: 32px;
  padding-right: 32px; }

.px-40 {
  padding-left: 40px;
  padding-right: 40px; }

.py-0 {
  padding-top: 0;
  padding-bottom: 0; }

.py-4 {
  padding-top: 4px;
  padding-bottom: 4px; }

.py-8 {
  padding-top: 8px;
  padding-bottom: 8px; }

.py-12 {
  padding-top: 12px;
  padding-bottom: 12px; }

.py-16 {
  padding-top: 16px;
  padding-bottom: 16px; }

.py-20 {
  padding-top: 20px;
  padding-bottom: 20px; }

.py-24 {
  padding-top: 24px;
  padding-bottom: 24px; }

.py-32 {
  padding-top: 32px;
  padding-bottom: 32px; }

.py-40 {
  padding-top: 40px;
  padding-bottom: 40px; }

.ff-montserrat {
  font-family: 'Montserrat', sans-serif; }

.letter-spacing-normal {
  letter-spacing: normal !important; }

.Breadcrumb {
  color: #000; }

.Breadcrumb a {
  color: #000; }
  .Breadcrumb a:hover {
    color: #1779BA; }

#ProductDescription a {
  color: #569300;
  text-decoration: underline; }
  #ProductDescription a:hover {
    color: #1779BA;
    text-decoration: none; }

a.standard {
  color: #569300;
  text-decoration: underline; }
  a.standard:hover {
    text-decoration: none;
    color: #1779BA; }

.text-green {
  color: #569300; }

.text-lowercase {
  text-transform: lowercase !important; }

.text-uppercase {
  text-transform: uppercase !important; }

.text-capitalize {
  text-transform: capitalize !important; }

.text-transform-none {
  text-transform: none !important; }

.header-font {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.body-font {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

p,
.p {
  font-size: 16px;
  line-height: 1.6;
  margin: 0 0 16px; }

p.lead,
.p.lead,
.lead {
  font-size: 20px; }

p.small-lead,
.p.small-lead,
.small-lead {
  font-size: 18px; }

.green {
  color: #569300; }

#Container {
  width: 1180px;
  margin: auto; }

#Header {
  width: 100%; }
  #Header #HeaderLower {
    width: 100%; }

.custom-wrapper#Wrapper {
  float: right;
  width: 950px;
  clear: initial;
  padding-top: 20px; }
  .custom-wrapper#Wrapper .Breadcrumb {
    padding: 20px 0 10px 10px; }
  .custom-wrapper#Wrapper .header-wrapper {
    border-color: #000; }

.custom-wrapper#Wrapper .Content.Widest {
  width: 100%; }

.plant-contact-banner {
  background: #fff url("https://cdn10.bigcommerce.com/s-3q3m3ghk/product_images/uploaded_images/spath-header-detail.jpg?t=1583903201") center center/cover no-repeat;
  border-radius: 0 0 4px 4px;
  height: 130px;
  margin-top: 130px;
  padding: 15px 80px 0; }
  .plant-contact-banner .prose {
    padding: 12px 22px;
    background-color: #fff;
    float: right;
    border-radius: 4px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37); }
    .plant-contact-banner .prose h4 {
      font-size: 16px;
      text-transform: none;
      font-weight: bold; }
    .plant-contact-banner .prose p,
    .plant-contact-banner .prose a {
      font-size: 14px;
      line-height: 1.5;
      margin-bottom: 0; }
    .plant-contact-banner .prose a.standard {
      color: #1779BA;
      text-decoration: none; }
      .plant-contact-banner .prose a.standard:hover {
        color: #1468A0;
        text-decoration: underline; }

.plant-contact-banner.tall {
  padding: 40px 80px; }

.customSidebar #usa-grown {
  text-align: center;
  padding-top: 10px;
  margin-bottom: 20px; }
  .customSidebar #usa-grown img {
    width: 80px;
    height: auto; }

.customSidebar {
  width: 215px;
  float: left;
  padding-top: 20px; }

.customSidebar-panel {
  background: #f9f9f9;
  border-radius: 3px;
  margin-bottom: 20px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  padding: 8px; }
  .customSidebar-panel .label {
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 12px;
    font-weight: bold; }
  .customSidebar-panel a {
    font-size: 14px;
    color: #1779BA;
    margin-bottom: 10px;
    display: inline-block; }
    .customSidebar-panel a:hover {
      color: #1468A0;
      text-decoration: underline; }
  .customSidebar-panel p {
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 12px; }

#Logo #LogoContainer a {
  display: inline-block; }
  #Logo #LogoContainer a img {
    margin-right: 10px; }

#Logo #LogoContainer h1 {
  display: inline-block;
  margin: 60px 0 20px; }
  #Logo #LogoContainer h1 a {
    color: #569300 !important;
    font-size: 50px;
    letter-spacing: 0; }
    #Logo #LogoContainer h1 a span#slogan {
      color: #797979;
      display: block;
      letter-spacing: .5px;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 24px;
      font-weight: 300; }

#Header #HeaderLower {
  border-bottom: 4px solid #569300;
  border-top: 4px solid #569300; }

#HeaderLower #SideCategoryList .sf-menu li ul {
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.3); }

#HeaderLower #SideCategoryList li#index-link:hover {
  background: #569300; }
  #HeaderLower #SideCategoryList li#index-link:hover a {
    color: #fff;
    text-decoration: none; }

#HeaderLower #SideCategoryList .sf-menu li {
  padding: 0 10px 0 10px;
  margin: 0;
  color: #000; }
  #HeaderLower #SideCategoryList .sf-menu li:hover {
    background: #569300; }
    #HeaderLower #SideCategoryList .sf-menu li:hover a {
      color: #fff;
      text-decoration: none; }
    #HeaderLower #SideCategoryList .sf-menu li:hover ul {
      border-top-width: 1px;
      border-top-color: #fff;
      border-top-style: solid; }
      #HeaderLower #SideCategoryList .sf-menu li:hover ul li a {
        color: #000 !important; }

#HeaderLower #SideCategoryList li ul li,
#HeaderLower #SideCategoryList .sf-menu li ul li {
  padding: 0 10px 0 10px;
  margin: 0;
  color: #000; }
  #HeaderLower #SideCategoryList li ul li:hover,
  #HeaderLower #SideCategoryList .sf-menu li ul li:hover {
    background: #569300; }
    #HeaderLower #SideCategoryList li ul li:hover a,
    #HeaderLower #SideCategoryList .sf-menu li ul li:hover a {
      color: #fff !important;
      text-decoration: none; }
    #HeaderLower #SideCategoryList li ul li:hover ul li a,
    #HeaderLower #SideCategoryList .sf-menu li ul li:hover ul li a {
      color: #000 !important; }
  #HeaderLower #SideCategoryList li ul li ul li a,
  #HeaderLower #SideCategoryList .sf-menu li ul li ul li a {
    color: #000 !important; }
  #HeaderLower #SideCategoryList li ul li ul li:hover a,
  #HeaderLower #SideCategoryList .sf-menu li ul li ul li:hover a {
    color: #fff !important; }

.topNav.on-screen ul.MenuList {
  display: none !important;
  visibility: hidden !important; }

.cf::before, .cf::after {
  display: table;
  content: ' ';
  flex-basis: 0;
  order: 1; }

.cf::after {
  clear: both; }

.PostBody p {
  font-size: 16px;
  line-height: 1.4; }

.PostBody a {
  color: #569300;
  text-decoration: underline; }
  .PostBody a:hover {
    text-decoration: none;
    color: #2199e8; }

table#top-5-easiest-office-floor-plants img {
  max-width: 220px; }

table#case-for-quality-plants img {
  max-width: 300px; }

.Content .ProductList li {
  margin-left: 15px !important; }
  .Content .ProductList li .ProductImage {
    padding: 6px 6px 10px; }
    .Content .ProductList li .ProductImage img {
      width: 100%;
      border: 1px solid #569300; }
  .Content .ProductList li:hover .ProductImage {
    background: #f7f7f7;
    border: 1px solid #569300; }
    .Content .ProductList li:hover .ProductImage img {
      border: 1px solid #fff;
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37); }

.ProductList li .ProductActionAdd a:hover,
#CategoryContent .ProductActionAdd a:hover {
  background: #569300 !important;
  color: #fff !important; }

.ProductPriceWrap {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37); }

ul#pot-sizes li {
  font-size: 18px;
  line-height: 1.3; }

table.shop-for-plants tbody tr td,
table.shop-for-pots tbody tr td {
  text-align: center; }
  table.shop-for-plants tbody tr td a,
  table.shop-for-pots tbody tr td a {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
    font-size: 15px;
    background: #f4f4f4;
    padding: 10px;
    display: inline-block;
    line-height: 1.5;
    border: 1px solid #f4f4f4; }
    table.shop-for-plants tbody tr td a span,
    table.shop-for-pots tbody tr td a span {
      display: block;
      font-size: 18px; }
    table.shop-for-plants tbody tr td a img,
    table.shop-for-pots tbody tr td a img {
      border: 1px solid #569300;
      display: block;
      margin: 0 auto 10px; }
    table.shop-for-plants tbody tr td a:hover,
    table.shop-for-pots tbody tr td a:hover {
      background: #fff;
      color: #000;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.3);
      border: 1px solid #569300; }
      table.shop-for-plants tbody tr td a:hover span,
      table.shop-for-pots tbody tr td a:hover span {
        text-decoration: underline; }

table.shop-for-plants#shop-for-plants tbody tr td,
table.shop-for-plants#by-plant-size tbody tr td,
table.shop-for-plants#by-light-level tbody tr td,
table.shop-for-pots#shop-for-pots tbody tr td {
  width: 320px; }
  table.shop-for-plants#shop-for-plants tbody tr td a,
  table.shop-for-plants#by-plant-size tbody tr td a,
  table.shop-for-plants#by-light-level tbody tr td a,
  table.shop-for-pots#shop-for-pots tbody tr td a {
    width: 245px; }

table.shop-for-plants#by-plant-type tbody tr td {
  width: 240px; }
  table.shop-for-plants#by-plant-type tbody tr td a {
    width: 200px; }

.row.quarantine-cozy-banner .heading-wrap {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  width: 100%;
  z-index: 3;
  text-align: right; }
  .row.quarantine-cozy-banner .heading-wrap .headline {
    color: #fff;
    text-shadow: 0 0 30px #000;
    font-size: 36px;
    line-height: 1.2;
    font-weight: bold;
    letter-spacing: 0; }

.row.quarantine-cozy-banner .prose-wrap {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  width: 100%;
  max-width: 430px; }
  .row.quarantine-cozy-banner .prose-wrap .paragraph {
    font-size: 18px;
    font-family: Arial;
    line-height: 1.4; }

.row.product-category-blocks .product-category-link {
  margin-bottom: 20px; }
  .row.product-category-blocks .product-category-link .unit-link {
    position: relative; }
  .row.product-category-blocks .product-category-link .unit-text-wrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 30px;
    width: 100%;
    z-index: 3; }
    .row.product-category-blocks .product-category-link .unit-text-wrapper .headline {
      text-shadow: 2px 4px 4px #000;
      color: #fff;
      font-size: 60px;
      line-height: 1.2;
      text-transform: uppercase;
      font-weight: bold; }
  .row.product-category-blocks .product-category-link .unit-link img {
    border-radius: 6px;
    border: 1px solid #000; }

.row.info-cards .card {
  padding: 12px;
  border-radius: 6px;
  height: 124px;
  background: #f1f1f1;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  margin-bottom: 20px; }
  .row.info-cards .card .label {
    font-size: 20px;
    line-height: 1.4;
    margin: 0 0 8px;
    font-weight: bold; }
  .row.info-cards .card a {
    font-size: 14px;
    color: #1779BA;
    display: inline-block;
    text-decoration: none;
    font-family: Arial;
    margin-bottom: 6px; }
    .row.info-cards .card a:hover {
      color: #1468A0;
      text-decoration: underline; }
  .row.info-cards .card p {
    font-family: Arial;
    font-size: 14px;
    line-height: 1.4; }

.row.about-us-banner {
  padding: 140px 0;
  background: #fff url("https://cdn10.bigcommerce.com/s-3q3m3ghk/product_images/uploaded_images/about-us-lyrata-bg.jpg") center/cover no-repeat;
  margin-bottom: 40px; }
  .row.about-us-banner .text-block {
    margin-left: 30px; }
  .row.about-us-banner .headline {
    text-align: left !important;
    margin: 0 0 32px;
    max-width: 480px;
    font-size: 36px;
    line-height: 1.2; }
    .row.about-us-banner .headline::before, .row.about-us-banner .headline::after {
      display: table;
      content: ' ';
      flex-basis: 0;
      order: 1; }
    .row.about-us-banner .headline::after {
      clear: both; }
    .row.about-us-banner .headline::after {
      position: relative !important;
      width: 170px;
      border-bottom: 4px solid #fff;
      margin: 16px auto 0;
      margin-left: 0 !important; }
  .row.about-us-banner .paragraph {
    max-width: 370px;
    line-height: 1.3;
    margin-bottom: 24px;
    font-family: Arial;
    font-size: 18px; }
  .row.about-us-banner a.link {
    color: #000;
    background: #f4f4f4;
    border: 1px solid #000;
    padding: 10px 20px;
    border-radius: 500px;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    line-height: 1;
    display: inline-block; }

.shop-table-tops-unit,
.plant-care-services-unit {
  border-radius: 6px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  min-height: 350px;
  margin-bottom: 40px; }
  .shop-table-tops-unit .headline,
  .plant-care-services-unit .headline {
    margin: 0 0 16px;
    font-weight: bold;
    font-size: 36px;
    text-transform: uppercase; }
  .shop-table-tops-unit .paragraph,
  .plant-care-services-unit .paragraph {
    font-size: 18px;
    line-height: 1.3;
    margin-bottom: 36px;
    font-family: Arial; }
  .shop-table-tops-unit a.link,
  .plant-care-services-unit a.link {
    color: #fff;
    background: #569300;
    border: 1px solid #569300;
    padding: 13px 26px;
    border-radius: 500px;
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
    line-height: 1;
    display: inline-block; }

.shop-table-tops-unit {
  background: #fff url("https://cdn10.bigcommerce.com/s-3q3m3ghk/product_images/uploaded_images/shop-table-tops-bg.jpg") center/cover no-repeat;
  padding: 90px 25px;
  text-align: center; }
  .shop-table-tops-unit .headline,
  .shop-table-tops-unit .paragraph {
    color: #fff;
    text-shadow: 1px 2px 0 #000; }

.plant-care-services-unit {
  background: #f9f9f9 url("https://cdn10.bigcommerce.com/s-3q3m3ghk/product_images/uploaded_images/philo-shadow-bg.png") right top/contain no-repeat;
  padding: 60px 25px; }
  .plant-care-services-unit .paragraph {
    max-width: 460px; }

.PrimaryProductDetails {
  border-color: #000;
  padding-top: 20px; }
  .PrimaryProductDetails .ProductMain {
    padding-left: 10px; }

.ProductDescription h3 {
  margin: 0;
  text-transform: none;
  font-weight: bold;
  letter-spacing: normal;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px; }
