#Container {
	width: 1180px;
	margin: auto;
}

#Header {
	width: 100%;

	#HeaderLower {
		width: 100%;
	}
}

.custom-wrapper#Wrapper {
	float: right;
	width: 950px;
	clear: initial;
	padding-top: 20px;

	.Breadcrumb {
		padding: 20px 0 10px 10px;
	}

	.header-wrapper {
		border-color: #000;
	}
}

.custom-wrapper#Wrapper {
	.Content.Widest {
		width: 100%;
	}
}
