.row.quarantine-cozy-banner {
	.heading-wrap {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 100%;
		z-index: 3;
		text-align: center;

		@include media('>23.625rem') { //>379px
			text-align: right;
		}

		.headline {
			color: #fff;
			text-shadow: 0 0 rem-calc(30) #000;
			font-size: rem-calc(23);
			line-height: 1.2;
			font-weight: bold;
			letter-spacing: 0;
			background: rgba(51,51,51,.50);
			display: inline-block;
			padding: rem-calc(4);

			@include media('>23.625rem') { //>379px
				font-size: rem-calc(36);
			}
		}
	}


	img.hero-img {
		@include media('>39.875rem') {
			min-height: 250px !important;
		}
	}

	.prose-wrap {
		padding: rem-calc(16 16 0);
		max-width: rem-calc(420);
		margin: 0 auto;

		p {
			font-size: rem-calc(14);
			font-family: Arial;
			line-height: 1.4;

			@include media('>21.75rem') { //>349px
				font-size: rem-calc(16);
			}
		}
	}

	img.height-matcher {
		display: none;
		visibility: hidden;
		opacity: 0;
	}
}
