#index-stretch-banner {
	text-align: center;
	position: relative;
	margin-bottom: 10px;

	h2 {
		text-shadow: 0 3px 2px #000;
		color: #fff;
		text-transform: none;
		font-size: 30px;
		position: absolute;
		top: 30px;
		width: 100%;
	}

	img {
		width: 978px;
		height: 98px;
		border: 1px solid #000;
	}
}
