@import '_font-family.scss';
@import '_letter-spacing.scss';
@import '_links.scss';
@import '_text-color.scss';
@import '_text-transform.scss';

.header-font {
	font-family: $header-font;
}

.body-font {
	font-family: $body-font;
}

// -----------------------------------
// |            font-size            |
// -----------------------------------

p,
.p {
	font-size: $p;
	line-height: 1.6;
	margin: 0 0 16px;
}

p.lead,
.p.lead,
.lead {
	font-size: $p * 1.25;
}

p.small-lead,
.p.small-lead,
.small-lead {
	font-size: $p * 1.125;
}

// h1,
// .h1 {
// 	font-size: $h1;
// }

// h2,
// .h2 {
// 	font-size: $h2;
// }

// h3,
// .h3 {
// 	font-size: $h3;
// }

// h4,
// .h4 {
// 	font-size: $h4;
// }

// h5,
// .h5 {
// 	font-size: $h5;
// }

// h6,
// .h6 {
// 	font-size: $h6;
// }




// ---------------------------------------
// |            Color Classes            |
// ---------------------------------------

.green {
	color: $green;
}
