// -----------------------------------------
// |            color Variables            |
// -----------------------------------------

// Semantic Colors
$green: #569300;


// Typography Elements
$p-color: #0a0a0a;
$h-color: $p-color;
